#EditActionButton-textEl {
    float:right;
}

#GoToRecordActionButton-textEl {
    float:right;
}

.left-utils-container-wrapClass {
    display: grid;
}

.sib-filtersContainer-class {
    display: inline-flex;
}

.sib-filtersContainer-label-class {
    width: auto;
    margin-top: 5px;
}

.sib-filtersContainer-checkboxedit-class {
    margin-top: 7px;
    margin-left: 2px;
}

.sib-filter-element-container-wrap {
    display: inline-block;
    vertical-align: top;
    height: 30px;
    float: left;
    max-width: 100%;
}
