#sibRecordIdBoxContainer {
	padding: 10px 30px;

	.header-container {
		font-size: 14px;
		color: #64b8df;
		line-height: 32px;
	}

	.buttons-container {
		text-align: right;
		margin-top: 10px;
	}

}
